*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --font-size: Helvetica, Arial, sans-serif;
    --header-background--rgb: 235, 235, 235;
    --hover-background--rgb: 150, 150, 170;
    --nav-background--rgb: 25, 25, 80;
    --card-background--rgb: 245, 245, 245;
}

body {
    font-family: var(--font-size);
    padding: 0.3em;
    background-color: #FFC0CB;
}

/* Wrapper */
.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(var(--header-background--rgb), 0.95);
}

.header > .hero {
    text-align: center;
    padding: 2.5em;
}

.header > .hero > h1 {
    font-size: 48px;
}

.header > .top-navigation {
    background-color: rgba(var(--nav-background--rgb), 0.85);
    overflow: hidden;
}

.header > .top-navigation > .nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.header > .top-navigation > .nav > .nav-item {
    margin: 0;
    width: 100%;
}

.header > .top-navigation > .nav > .nav-item > a {
    display: inline-block;
    text-align: center;
    color: #FF1493;
    padding: 1.5em 1.6em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    width: 100%;
}
 
.header > .top-navigation > .nav > .nav-item > a:hover {
    background-color: rgba(var(--hover-background--rgb), 0.95);
    color:#DDA0DD;
}

/* Content */
.content {
    display: flex;
    flex-direction: row;
    gap: 0.9em;
}

.column-left,
.column-right {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: 0.5em;
}

.content > .column-left,
.content > .column-right > .card {
    background-color: rgba(var(--card-background--rgb), 1);
    padding: 2em;
}

.fake-img:not(.with-img) {
    background-color: pink;
    width: 100%;
    padding: 2em;
    margin: 2px;
}

.fake-img.with-img {
    text-align: center;
}

.fake-img.with-img img {
    width: 600px;
    height: 350px;
}
 
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: plum;
}

/* Responsive layout - when the screen is less than 600px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .header > .top-navigation > .nav {
        flex-direction: column;
    }

    .content {
        display: block;
    }

    .column-right {
        margin-top: 0.9em;
    }
}